{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'table\css\main.css' %}">
    </head>
    <body>
        <nav class='navbar_home'>
            <form class='filters' action="" method='GET' role="search">
                <label>Год</label>
                <select id="years" name='years'>
                    <option {% if selected_year == None %} selected {% endif %}>---</option>
                    {% for choice in year_form.year.field.choices %}
                        <option value='{{ choice.1 }}' {% if selected_year == choice.1 %} selected {% endif %}>{{ choice.1 }}</option>
                    {% endfor %}
                </select> 

                <label style="margin-left: 5px;">Месторождение</label>
                <select id="podrazd" name="podrazd">
                    <option {% if selected_reservoir == None %} selected {% endif %}>---</option>
                    {% for choice in reservoir.oil_places %}
                        <option value='{{ choice.name }}' {% if selected_reservoir == choice.name %} selected {% endif %}>{{ choice.name }}</option>
                    {% endfor %}
                </select>

                <label style="margin-left: 5px;">Подразделение</label>
                <select id="mesto" name="mesto">
                    <option {% if selected_subdivision == None %} selected {% endif %}>---</option>
                    {% for choice in subdivision.subdivisions %}
                        <option value='{{ choice.name }}' {% if selected_subdivision == choice.name %} selected {% endif %}>{{ choice.name }}</option>
                    {% endfor %}
                </select>

                <input type='submit' value='Найти' style="margin-left: 7px;">
            </form>
            {% if request.user.is_authenticated %}
                <p class="user_log">{{request.user.first_name}}</p>
                <a href="{%url 'logout'%}">|Выйти</a>
            {% else %}
                <p class="user_log">Not logged in</p>
                <a href='{%url "login"%}'><p>|Зайти</p></a>
            {% endif %}
        </nav>
        <div class='filter_content'>
            <ul>
                {% for tb in tabel %}
                    <a href="{%url 'graph'%}?tabel_pk={{tb.pk}}&months=1"><li>{{tb.year}} {{tb.subdivision}} {{tb.reservoir}}</li></a>
                {% endfor %}
            </ul>
        </div>
    
 </body>
</html>