html{
    margin: 0;
}

table{
    width: 100vw;
    font-size: 12px;
}

button{
    width: 40%;
}

td{
    border: 1px solid black;
}

.vertical, .vertical td{
    writing-mode: vertical-lr;
}

.nums{
    padding: 5px;
}